<h5 class="blue-grey-text lighten-5"><%- tr("Find a Steam user") %></h5>
<div class="input-field">
	<input id="identifier" name="identifier" type="text" class="validate blue-grey-text" required autocomplete="off" placeholder="<%- tr('') %>" class="text-blue-grey" />
	<label for="identifier"><%- tr("Steam ID, name or URL") %></label>
</div>
<div class="right-align">
	<button type="submit" class="waves-effect waves-light btn blue-grey">
		<i class="material-icons left">control_point</i>
		<%- tr("Submit") %>
	</button>
</div>