body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #303030;
	font-family: Arial, Helvetica;
}

nav {
	background-color: #212121;
}

main {
	flex: 1 0 auto;
}

.page-footer {
	background-color: #212121;
	font-size: 0.8em;
}

.page-footer p {
	margin-top: 6px;
	margin-bottom: 6px;
}

.page-footer .footer-copyright {
	background-color: #131212;
}

.summary-statistics {
	color: #fff;
	font-weight: 200;
	font-family: 'Motiva Sans';
}

.summary-statistics .value{
	font-size: 2em;
	line-height: 1em;
}

.summary-statistics label{
	font-size: 1em;
	display: block;
	color: #9b9b9b;
	white-space: nowrap;
	line-height: 1em;
}

ul.game-list > li {
	display: inline-block;
	margin: 0 4px;
}

ul.game-list {
	margin-bottom: 0;
}

.view-more-link-container {
	text-align: right;
	margin: 0;
	padding: 0;
}

.achievement-icon {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}