body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #303030;
	font-family: Arial, Helvetica;
	overflow-y: scroll;
}

nav {
	background-color: #212121;
}

main {
	flex: 1 0 auto;
	color: #607d8b;
}
.material-icons {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

/* overrides */
/* return button icon size to default */
.btn-flat i {
	font-size: 24px;
}

.brand-logo {
	white-space: nowrap;
}

footer {
	position: fixed;
	z-index: 51;
	bottom: 0;
	left: 0;
	right: 0;
	top: auto;
	color: #999;
	text-align: center;
	font-size: 11.2px;
	background: rgba(10,17,25,.8);
	height: 21px;
	padding-top: 3px;
}

a {
	color: inherit;
}

a:hover {
	color: white;
}

.profile-header {
	margin-top: 5px;
}

.player-avatar {
	background-color: #000;
}

.persona-name {
	white-space: nowrap;
	margin: 2px 0 0;
}

.private-profile-error {
	color: #a94847;
	font-size: 17px;
}

.summary-statistics {
	color: #fff;
	font-weight: 200;
	font-family: 'Motiva Sans';
}

.summary-statistics .row {
	margin-bottom: 0;
}

.summary-statistics .value{
	font-size: 2em;
	line-height: 1em;
}

.summary-statistics label{
	font-size: 1em;
	display: block;
	color: #9b9b9b;
	white-space: nowrap;
	line-height: 1em;
}

ul.game-list > li {
	display: inline-block;
	margin: 0 4px;
}

ul.game-list.single-row > li:first-child {
	margin: 0 4px 0 0;
}

ul.game-list {
	margin: 0;
}

.view-more-link-container {
	text-align: right;
	margin: 0;
	padding: 0;
}

.achievement-icon.small {
	width: 32px;
	height: 32px;
}

.achievement-icon.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* alert */
.alert {
	padding: 10px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}

.alert-danger {
	border-color: #ef9a9a;
	color: #e53935;
	background-color: #ffcdd2;
}

.alert p {
	padding: 0;
	margin: 0;
}

.game-icon-container {
	float: right;
	line-height: 0;
	border: 1px solid black;
}

.achievement-list > div {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.achievement-list .icon {
	margin-right: 10px;
	flex: 0 0 0;
}

.achievement-list .global-percentage {
	position: relative;
	border: 1px solid #455a64;
	flex: 1 0 0;
	/* FIXME - shouldn't need to force the height - doesn't allow text to wrap */
	height: 64px;
	overflow: hidden;
}

.achievement-list .global-percentage .description {
	color: #90a4ae;
	padding: 0 1rem;
}

.achievement-list .global-percentage .description h5 {
	margin: 0.7rem 0 0;
}

.achievement-list .global-percentage .description p {
	margin: 0;
}

.achievement-list .global-percentage .percentage-bar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: 2px;
	background-color: #455a64;
	z-index: -1;
}

.achievement-list .global-percentage .percentage {
	float: right;
	margin-top: 0.7rem;
	margin-right: 10px;
}

.list-item {
	width: 25%;
	display: inline-block;
	margin: 5px 0px;
}

.list-item a {
	position: relative;
	display: block;
	padding-left: 40px;
}

.list-item a img {
	position: absolute;
	top: 0;
	left: 0;
}

.inline {
	display: inline-block;
	margin: 2px;
}