<% console.log(obj); %>
<div class="icon">
	<!-- FIXME - some achievements don't have a valid gray icon image -->
	<% if (obj.unlocked) { %>
		<img class="achievement-icon <%- (obj.smallIcon === true ? 'small' : '') %>" alt="<%- displayName %>" src="<%- icon %>" />
	<% } else { %>
		<img class="achievement-icon <%- (obj.smallIcon === true ? 'small' : '') %>" alt="<%- displayName %>" src="<%- icongray %>" />
	<% } %>
</div>

<div class="global-percentage">
	<% if (obj.percent) { %>
		<div class="percentage-bar" style="width: <%- percent.toFixed(1) %>%;"></div>
		<span class="percentage right-align">
			<%- percent.toFixed(1) %>%
			<% if (obj.unlocked) { %>
				<br /><%- moment(unlocked).calendar() %>
			<% } %>
		</span>
	<% } %>
	<div class="description">
		<h5><%- displayName %></h5>
		<p class="ellipsis" title="<%- obj.description %>"><%- obj.description %></p>
	</div>
</div>