<div class="icon">
	<% if (unlocked) { %>
		<img class="achievement-icon <%- (obj.smallIcon === true ? 'small' : '') %>" alt="<%- displayName %>" src="<%- icon %>" />
	<% } else { %>
		<img class="achievement-icon <%- (obj.smallIcon === true ? 'small' : '') %>" alt="<%- displayName %>" src="<%- icongray %>" />
	<% } %>
</div>

<div class="global-percentage">
	<div class="percentage-bar" style="width: <%- percent.toFixed(1) %>%;"></div>
	<span class="percentage"><%- percent.toFixed(1) %>%</span>
	<div class="description">
		<h5><%- displayName %></h5>
		<p><%- obj.description %></p>
	</div>
</div>