<div class="flex-container space-between flex-wrapr">
	<div class="flex-grow">
		<h5 class="game-title">
			<a href="#/game/<%- _id %>"><%- name %></a> <a href="http://store.steampowered.com/app/<%- _id %>" target="_black"><i class="material-icons green-text">link</i></a>
		</h5>
		<div class="flex-container <%- (obj.owner) ? 'space-evenly' : 'space-between' %> flex-wrap">
			<% if (obj.owner) { %>
				<div class="no-wrap">
					<%- tr("Added __d__", { d: moment(owner.added).calendar() }) %>
					</br>
					<%
						function formatPlaytime(t) { return (t < 60) ? (t + ' minutes') : (Math.floor(t / 60) + ' hours') }
						var recent = _.max(owner.playtime_2weeks, function(item) { return item.value; }).value || 0;
					%>

					<% if (recent) { %>
						<%- tr("Playtime __t__ and __r__ recently", { t: formatPlaytime(owner.playtime_forever), r: formatPlaytime(recent) }) %>
					<% } else { %>
						<%- tr("Playtime __t__ total", { t: formatPlaytime(owner.playtime_forever) }) %>
					<% } %>
				</div>
			<% } %>

			<% if (_.isEmpty(achievements))
			{
				%><div class="no-wrap"><%- tr("No Achievements.") %></div><%
			}
			else if (_summary.global)
			{
				%>
				<div class="no-wrap">
					<%- tr("Total achievements: __number__", { number: achievements.length }) %>
					<br />
					<%- tr("Difficulty: __maxDifficulty__% to __minDifficulty__%", _summary) %>
				</div>
				<%
			}
			else
			{
				%>
				<div class="no-wrap center-align">
					<%- tr("Achievements: __unlocked__ of __number__ (__percent__%)", { unlocked: _summary.playerUnlocked, number: achievements.length, percent: _summary.playerPercent }) %>
					</br>
					<span class="progress-bar <%- owner.perfect ? 'perfect' : '' %>">
						<span style="width: <%- _summary.playerPercent %>%;"></span>
					</span>
				</div>
				<%
			}
			%>
		</div>
	</div>

	<div>
		<a href="#/game/<%- _id %>">
			<img class="game-icon" alt="<%- name %>" src="http://media.steampowered.com/steamcommunity/public/images/apps/<%- obj.appid || obj._id %>/<%- img_logo_url %>.jpg"/>
		</a>
	</div>
</div>

<hr style="border-color: #90a4ae" />

<div class="flex-container space-evenly" style="display: none; margin-bottom: 1em;">
	<div>
		Grouping
		<div class="switch">
			<label>
				None
				<input type="checkbox" name="group" checked />
				<span class="lever"></span>
				Status
			</label>
		</div>
	</div>
	<div>
		Sort </br>
		<label><input name="sort" type="radio" class="" checked /><span>Unlock time</span></label>
		<label><input name="sort" type="radio" class="" /><span>Alphabetical</span></label>
		<label><input name="sort" type="radio" class="" /><span>Difficulty</span></label>
	</div>
</div>

<h6 style="display: none;"><%- tr("Unlocked Achievements - ordered by unlock time") %></h6>
<div id="unlockedachievements"></div>

<hr style="border-color: #90a4ae; visibility: hidden;" />

<h6 style="display: none;"><%- tr("Locked Achievements - ordered by difficulty") %></h6>
<div id="lockedachievements"></div>

<% if (_.isEmpty(obj.achievements) == false) { %>
	<p class="right-align">
		<a href="http://steamcommunity.com/stats/<%- obj.appid || obj._id %>/achievements" target="_blank"><%- tr("View Achievements on Steam") %></a>
	</p>
<% } %>

<p class="center-align">
	<small><a data-control="resynchronize" class="blue-grey-text lighten-5" style="cursor: pointer;"><%- tr("Resynchronize game data") %></a></small>
</p>