<a href="#/game/<%- obj.appid || obj._id %>" title="<%- name %>">
	<img alt="<%- name %>" src="http://media.steampowered.com/steamcommunity/public/images/apps/<%- obj.appid || obj._id %>/<%- img_logo_url %>.jpg" />
</a>

<% _.each(achievements.reverse(), function(achievement) { %>
	<a href="http://store.steampowered.com/stats/<%- obj.appid || obj._id %>/achievements" target="_blank">
		<img class="achievement-icon" title="<%- achievement.displayName %> (<%- achievement.percent.toFixed(2) %>%)" alt="<%- achievement.displayName %>" src="<%- achievement.icon %>" />
	</a>
<% }); %>
