<a href="http://store.steampowered.com/app/<%- obj.appid || obj._id %>">
	<% if (obj.percentage) { %>
		<span title="<%- name %> - <%- unlocked %> of <%- total %> (<%- percentage.toFixed(1) %>%)">
	<% } else if (obj.lowestGlobalPercentage) { %>
		<span title="<%- name %> - <%- lowestGlobalPercentage.toFixed(1) %>%">
	<% } %>

		<img alt="<%- name %>" src="http://media.steampowered.com/steamcommunity/public/images/apps/<%- obj.appid || obj._id %>/<%- img_logo_url %>.jpg" />
	</span>
</a>