<div id="header"></div>

<div id="body"></div>

<% if (resynchronized === 'never' || resynchronized === 'pending') { %>
	<p class="right-align" title="<%- moment(resynchronized).format('MMMM Do YYYY, hh:mm:ss A') %>">
		<small><%- tr("Never Resynchronized: ") %></small>
	</p>
<% } else { %>
	<p class="right-align" title="<%- moment(resynchronized).format('MMMM Do YYYY, hh:mm:ss A') %>">
		<small><%- tr("Last resynchronized: ") %> <%- moment(resynchronized).fromNow() %></small>
	</p>
<% } %>