<div class="blue-grey-text">
	<div>
		<h5 class="section-title"><%- tr("Almost There") %> <small class="blue-grey-text text-darken-2"><%- tr("Games with the hightest completion percentage.") %></small></h5>
		<div id="highestcompletiongames">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<h5 class="section-title"><%- tr("Just Started") %> <small class="blue-grey-text text-darken-2"><%- tr("Games with the lowest completion percentage.") %></small></h5>
		<div id="lowestcompetiongames">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<h5 class="section-title"><%- tr("Next Game") %> <small class="blue-grey-text text-darken-2"><%- tr("Games with the hightest global completion percentage.") %></small></h5>
		<div id="easiestgames">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<h5 class="section-title"><%- tr("Next Achievement") %> <small class="blue-grey-text text-darken-2"><%- tr("Achievements with the hightest global completion percentage") %></small></h5>
		<div id="easiestachievements">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer spinner-blue-only">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>